.title-slide {
  background-image: url(./figs/SOUNDcontrol_title_slide.png);
  background-size: contain;
  color: white;
  text-shadow: 0 0 0;

}


.title-slide h1 {
   font-size: 40px;
   color: white;
}
.title-slide h2 {
   font-size: 30px;
   color: white;
}
.title-slide h3 {
   font-size: 25px;
   color: white;
}

.remark-slide-content {
    font-size: 20px;
    padding: 1em 4em 1em 4em;
}
.remark-slide-content h1{
font-size: 40px;
}

.remark-slide-content h2{
font-size: 35px;
}

.remark-slide-content h3{
font-size: 30px;
}